.g5-slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.g5-slide .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.g5-slide .box {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  overflow: hidden;
}
